@import "_colors";

.form {
    width: 50%;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
    border: 1px solid $black;
    padding: 20px;

    label {
        display: block;
        margin-bottom: 10px;
        font-size: 1.2rem;
        color: $black;

        span {
            color: red;
        }
    }

    button {
        width:100%;
    }

    @media (max-width: 768px) {
        width: 80%;
    }
}